@font-face {
    font-family: 'Regular';
    src: local('../fonts/RegularFont'), url(../fonts/RegularFont.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'Bold';
    src: local('../fonts/Bold'), url(../fonts/Bold.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    line-height: normal;
}

html,
body {
    height: 100%;
}

#root {
    height: 100%;
    width: 100%;
    background:#161d31
}

.login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161d31;
}

body {
    background-color: #161d31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 575.078px;
    width: 400px;
    background-color: #283046;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-clip: border-box;
    background-color: rgb(40, 48, 70);
    border-bottom-color: rgba(34, 41, 47, 0.125);
    border-bottom-left-radius: 5.992px;
    border-bottom-right-radius: 5.992px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(34, 41, 47, 0.125);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgba(34, 41, 47, 0.125);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgba(34, 41, 47, 0.125);
    border-top-left-radius: 5.992px;
    border-top-right-radius: 5.992px;
    border-top-style: solid;
    border-top-width: 0px;
    box-shadow: rgba(34, 41, 47, 0.24) 0px 4px 24px 0px;
    box-sizing: border-box;
    color: rgb(180, 183, 189);
    direction: ltr;
    display: flex;
    flex-direction: column;
    font-family: Regular, Helvetica, Arial, serif;
    font-size: 14px;
    font-weight: 400;
    height: 575.078px;
    letter-spacing: 0.14px;
    line-height: 20.3px;
    margin-bottom: 0px;
    min-width: 0px;
    overflow-wrap: break-word;
    position: relative;
    text-align: start;
    text-size-adjust: 100%;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.3s, 0s, 0s, 0s;
    transition-property: all, background, color, border-color;
    transition-timing-function: ease-in-out, ease, ease, ease;
    width: 100%;
    -webkit-tap-highlight-color: rgba(34, 41, 47, 0)
}

.formEl {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 21px;
}

.formEl>img {
    width: 170px;
    height: 89.391px;
    margin-bottom: 25px;
}

.formEl>form>div {
    display: flex;
    flex-direction: column;
}

.formEl>form>div>label {
    color: rgb(208, 210, 214);
    font-family: Regular;
    margin-bottom: 4.000px;
}

.formEl>form>div>input {
    margin-bottom: 14px;
    font-family: Regular;
    outline: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0;
    padding: .571rem 1rem;
    background-clip: padding-box;
    border: 1px solid #d8d6de;
    border-radius: .357rem;
    color: #b4b7bd;
    background-color: #283046;
    border-color: #404656;
}

.formEl>form>div>input:focus{
    border-color: #7367f0;
}

.formEl>form>div>div>label {
    color: rgb(208, 210, 214);
    font-family: Regular;
    margin-bottom: 4.000px;
}

.formEl>form>h4 {
    color: rgb(208, 210, 214);
    font-size: 17.99px;
    font-family: Bold, Helvetica, Arial, serif;
    margin-bottom: 16px;
}

.formEl>form>button{
    text-transform: none;
    -webkit-appearance: button;
    line-height: 1;
    font-family: Regular;
    /* vertical-align: middle; */
    user-select: none;
    font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,background 0s,border 0s;
    display: block!important;
    width: 100%!important;
    font-weight: 500;
    color: #fff!important;
    margin: 0;
    text-align: center;
    border: 1px solid transparent;
    padding: .786rem 1.5rem;
    border-radius: .358rem;
    box-shadow: none;
    border-color: #7367f0!important;
    background-color: #7367f0!important;
    cursor: pointer;
    margin-top: 26px;
}

.formEl>form>button:hover{
    box-shadow: 0 0 10px #736bcc;
}

.formEl>form>p {
    color: #b4b7bd;
    font-family: Regular, Helvetica, Arial, serif;
    font-size: 14px;
    letter-spacing: 0.14px;
    font-weight: 400;
    margin: 0px 0px 21px
}

footer{
    bottom: 0;
    position: absolute;
    margin: 10px;
    width: 85%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > label {
    font-family: Regular;
    text-align: center;
}

@media (width: 280px) and (height: 653px) {
    .card {
        width: 238px;
        height: 633.500px;
    }
}

@media (width: 540px) and (height: 720px) {
    .card {
        width: 400px;
        height: 571.656px;
    }
}

@media (width: 1024px) and (height: 1366px) {
    .card {
        width: 400px;
        height: 574.891px;
    }
}

@media (width: 768px) and (height: 1024px) {
    .card {
        width: 400px;
        height: 573.188px;
    }
}

@media (width: 375px) and (height: 812px) {
    .card {
        width: 333px;
        height: 570.562px;
    }
}

@media (width: 414px) and (height: 736px) {
    .card {
        width: 372px;
        height: 570.812px;
    }
}

@media (width: 375px) and (height: 667px) {
    .card {
        width: 333px;
        height: 570.562px;
    }
}

@media (width: 320px) and (height: 568px) {
    .card {
        width: 278px;
        height: 591.203px;
    }
}

@media (width: 411px) and (height: 823px) {
    .card {
        width: 369px;
        height: 570.797px;
    }
}

@media (width: 411px) and (height: 731px) {
    .card {
        width: 369px;
        height: 570.797px;
    }
}

@media (width: 360px) and (height: 640px) {
    .card {
        width: 318px;
        height: 591.469px;
    }
}